body{
    margin: 0;
    font-family: Century Gothic;
 
}
.preto{
    background-color: rgba(0, 0, 0, 0.226);
}
.header{
    height: 850px;
    background-image: url(https://thumbs.gfycat.com/BoringSpotlessCaudata-size_restricted.gif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* opacity: 50%; */
    margin: auto;
    min-width: 320px;
    max-width: 1920px;
    width: 100%;
     

}


.area-cadastro{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.quadrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 355px;
    height: 450px;
    padding: 35px;
    border-radius: 10px;
    margin-top: 110px;
    
}

.quadrado form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quadrado input{
    margin-top: 10px;
    background-color:rgb(42, 123, 245) ;
    padding-left: 14px;
    color: #CBD0F7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}
.quadrado img{
    width: 120px;
    height: auto;
    margin-bottom: auto;
}

input::placeholder{
    color: #ffffff;
    font-size: 15px;
    
}

input[type="submit"]{
    display: block;
    color: white;
    background-color: rgb(233, 152, 2);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.p{
    font-family: Century Gothic;
}